.idea

.gradle/
build/

raptor_data/

# Sensitive files - do not commit
gradle.properties
setup-env.sh
local.properties
*.keystore
*.jks
secring.gpg
java_pid*
raptor_data_finlande/
raptor_data_paris/
raptor_data_rtm/